<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HW9B Ex3</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <h2>Vo's new form</h2>
  <form id="articleForm">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required>
<br>
    <label for="content">Content:</label><br>
    <textarea id="content" name="content" rows="5" required></textarea><br>

    <button type="button" id="addArticleButton">Add Article</button>
  </form>

  <div id="responseMessage"></div>

  <script src="../public/ex3.js"></script>
</body>
</html>
